PRIVATE_KEY=
ETHERSCAN_TOKEN=
WEB3_INFURA_PROJECT_ID=

TOKEN_ADDRESS=0x8971e7eee417eeF06cD3111f890d5d159A248404
TOKEN_DECIMALS=18
VALIDATOR_ADDRESS=0xA2241B02dC4bd875Ef2120AfD7B54FBC165a2cbf
SWAP_RATIOS=1,3,5
SWAP_ENABLED=true,false,false
MIN_SWAP_AMOUNT_PER_TX=0
MAX_SWAP_AMOUNT_PER_TX=100000
